ANTHROPIC_API_KEY=sk-ant-api03-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
KLAVIYO_PRIVATE_KEY=pk_011d9de320977f8e65eb5c554e9f258c5e
KLAVIYO_LIST_ID=UZ5M4R
